node_modules

# Env
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Kombai artifacts
.kombai/

# Docker volumes locais (não deveriam nem chegar aqui, mas por segurança)
pgdata/
